/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */

.main-content-area {
	width: 900px;
	display: block;
	margin: auto;
	margin-top: 20px;
}

/* Main Navigation Styling */

.main-nav {
	margin: auto;
	/*text-align: center;*/
	width: 900px;
	height: 100px;
	position: relative;
}

nav div {
	display: inline-block;
	/*height: 60px;*/
	margin: 25px 50px 25px 0px;
}

nav a {
	display: inline-block;
	padding: 30px;
	text-decoration: none;
	color: gray;
	font-size: 15px;

}

nav a:first-child {
	padding-left: 0;
}

.logo {
	position: absolute;
}

/* Index.html styling */

header {
	position: relative;
	height: 450px;
	margin: 50px 0px;
	padding-bottom: 50px;
	border-bottom: 1px solid black;
}

h1 {
	font-size: 75px;
}

h3 {
	font-size: 20px;
}

.calltoaction {
	display: block;
	text-decoration: none;
	border: 1px solid black;
	color: black;
	width: 150px;
	height: 30px;
	padding: 5px 0px;
	margin: auto;
}

header div {
	display: inline-block;
	text-align: center;
	margin: 50px 100px;
}

.headerimg {
	display: inline-block;
	position: absolute;
}

.two-column-section div {
	display: inline-block;
	width: 425px;
	margin: 0px 20px 50px 0px;
}

.three-column-section div {
	display: inline-block;
	width: 275px;
	margin: 50px 20px 50px 0px;
}

.three-column-section {
	border-bottom: 1px solid black;
}

.contact-section {
	margin: 50px 0px;
}

footer p {
	text-align: center;
	margin: 50px;
}